# https://dart.dev/guides/libraries/private-files

# Flutter/Dart build and tool outputs
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android-specific build outputs and configurations
android/local.properties
android/.gradle/
android/app/src/main/res/values/strings.xml
.gradle/
*.apk
*.aar
*.ap_

# iOS-specific build outputs
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
DerivedData/

# Windows-specific build outputs
windows/flutter/ephemeral/
windows/CMakeLists.txt
windows/runner/CMakeLists.txt

# macOS-specific build outputs
macos/Flutter/ephemeral/

# Linux-specific build outputs
linux/flutter/ephemeral/

# IDE files (VS Code, IntelliJ/Android Studio, Eclipse)
.idea/
.vscode/
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files and crash reports
*.log
*.crash

# Operating System specific files
.DS_Store
Thumbs.db
